<section class="block-bio-no-video">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 d-flex align-items-center minh-75vh">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-12 ml-auto mr-auto">
              <h3>About {{ page.title }}</h3>
              <hr />
              {{ page.description }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 bg-cover col-sm-12 minh-75vh d-flex align-items-center " style="background-image: url('{{ section.image }}');">
      </div>
    </div>
  </div>
</section>
