<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title}}{% else %}{{ site.title }}{% endif %} - PERL Mortgage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if has_page_description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if has_page_keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
    <meta name="author" content="Ryan Underwood">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Playfair+Display:400,400i,700,700i,900,900i|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="/assets/lib/remodal/remodal.css" rel="stylesheet"/>
    <link href="/assets/lib/remodal/remodal-default-theme.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body class="{{ page.layout }}">