<div class="container-fluid grid-overlay">
    <div class="container minh-100vh d-flex p-0">
            <div class="col-1 border-left">
        
            </div>
            <div  class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left">    
        
            </div>
            <div class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left">
        
            </div>
            <div class="col-1 border-left border-right">
        
            </div>
        </div>
</div>