<header class="menu-header">
  <div class="container">
    <div class="menu-logo">
      <a href="/index.html">
       <span class="perl-logo"></span>
      </a>
    </div>
    <nav class="ml-auto">
			<ul class="menu-secondary-nav">
				<li>
          <a href="{{ page.apply_link }}" class="btn btn-light" target="_blank">Get Started</a>
        </li>
			</ul>
		</nav>
    <a class="menu-primary-nav-trigger" href="#">
      <span class="menu-menu-text">
        <span class="sr-only">Menu</span>
      </span>
      <span class="menu-menu-icon"></span>
    </a>
  </div>
</header>
<nav>
  <ul class="menu-primary-nav">
    {% for item in site.data.navigation %}
      <li><a href="{{ item.link }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
