<header class="menu-header">
  <div class="container">
    <div class="menu-logo"><a href="/index.html"><span class="perl-logo"></span></a></div>

    <nav class="ml-auto">
			<ul class="menu-secondary-nav">
				<li>
          {% if page.phone_number %}
            <a href="tel:{{ page.phone_number  | remove: '.'  }}">{{ page.phone_number }}</a>
          {% else %}
            <a href="tel:{{ site.phone_number  | remove: '.'  }}">{{ site.phone_number }}</a>
          {% endif %}
        </li>
				<li>
          {% if page.apply_link %}
            <a href="{{ page.apply_link }}" class="btn btn-light" target="_blank">Apply Now</a>
          {% else %}
            <a href="{{ site.apply_link }}" class="btn btn-light" target="_blank">Apply Now</a>
          {% endif %}
        </li>
			</ul>
		</nav> <!-- menu-nav -->

    <a class="menu-primary-nav-trigger" href="#">
      <span class="menu-menu-text"><span class="sr-only">Menu</span></span><span class="menu-menu-icon"></span>
    </a> <!-- menu-primary-nav-trigger -->
  </div>
</header>

<nav>
  <ul class="menu-primary-nav">
    {% for item in site.data.navigation %}
      <li><a href="{{ item.link }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
