---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: jekyll-pages
  label: Pages
  create: all
- type: jekyll-posts
  label: Posts
  create: all
- type: directory
  path: _leadership
  label: Leadership
  create: all
  match: "**/*"
- type: directory
  path: _stories
  label: Stories
  create: all
  match: "**/*"
- type: directory
  path: _careers
  label: Careers
  create: all
  match: "**/*"
- type: directory
  path: _data
  label: Utilities
  create: all
  match: "**/*"
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
