/* --------------------------------

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}



/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.menu-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.menu-container:after {
  content: "";
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-header {
  position: absolute;
  top: 0;
  left: 0;
  background: $secondary;
  height: 50px;
  width: 100%;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .menu-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1170px) {
  .menu-header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .menu-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    background-color: $secondary;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .menu-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .menu-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    background-color: rgba($secondary, 0.96);
  }
}

.menu-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.menu-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .menu-logo {
    left: 2.6em;
  }
}


.menu-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: $secondary;
}
.menu-primary-nav-trigger .menu-menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.menu-primary-nav-trigger .menu-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: $primary;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.menu-primary-nav-trigger .menu-menu-icon::before, .menu-primary-nav-trigger .menu-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $primary;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.menu-primary-nav-trigger .menu-menu-icon::before {
  top: -5px;
}
.menu-primary-nav-trigger .menu-menu-icon::after {
  top: 5px;
}
.menu-primary-nav-trigger .menu-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.menu-primary-nav-trigger .menu-menu-icon.is-clicked::before, .menu-primary-nav-trigger .menu-menu-icon.is-clicked::after {
  background-color: white;
}
.menu-primary-nav-trigger .menu-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.menu-primary-nav-trigger .menu-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .menu-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .menu-primary-nav-trigger .menu-menu-text {
    display: inline-block;
  }
  .menu-primary-nav-trigger .menu-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.menu-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba($secondary, 0.96);
  z-index: 2;
  text-align: center;
  padding: 100px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.menu-primary-nav a {
  text-transform: capitalize;
  display: inline-block;
  font-family: $body;
  font-weight: 400;
  font-size: 18px;
  padding: 0;
  border-radius: 0;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  position: relative;
  margin-bottom: 10px;
  color: $white;
  &:before {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0%;
    content: '';
    height: 2px;
    background-color: $primary;
    transition: .3s ease-in-out;
  }

  &:hover {
    color: $white;
    &:before {
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      content: '';
      height: 2px;
      background-color: $primary;
    }
  }
}

.menu-primary-nav .menu-social {
  display: inline-block;
  margin: 0 .4em;
}
.menu-primary-nav .menu-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/menu-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.menu-primary-nav .menu-facebook a {
  background-position: 0 0;
}
.menu-primary-nav .menu-instagram a {
  background-position: -44px 0;
}
.menu-primary-nav .menu-dribbble a {
  background-position: -88px 0;
}
.menu-primary-nav .menu-twitter a {
  background-position: -132px 0;
}
.menu-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .menu-primary-nav {
    padding: 125px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .menu-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

.menu-intro {
  position: relative;
  height: 100%;
  background: url("../img/menu-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menu-intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .menu-intro h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .menu-intro {
    height: 700px;
  }
}

.menu-main-content {
  position: relative;
  z-index: 1;
}
.menu-main-content p {
  line-height: 1.6;
  margin: 2em 0;
}
@media only screen and (min-width: 1170px) {
  .menu-main-content p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}


.menu-secondary-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10em;
  /* hidden on small devices */
  display: none;
}
.menu-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em;
  color: $lt-gray;
  font-weight: 600;
}
.menu-secondary-nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .menu-secondary-nav {
    display: block;
  }
}



.global-footer {

  .footer-list {
    list-style: none;
    padding: 0;
    li a {
      font-size: 12px;
      font-weight: 400px;
    }
  }

  p {
    font-size: 12px;
    font-weight: 400px;
  }

  .footer-social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
      border-radius: 50%;
      margin-right: 1rem;
    }

  }
}
