/*=================================
Padding Top
===================================*/
.pt-xl, .py-xl {
  padding-top: $rem-xl;
}

.pt-lg, .py-lg {
  padding-top: $rem-lg;
}

.pt-md, .py-md {
  padding-top: $rem-md;
}

.pt-sm, .py-sm {
  padding-top: $rem-sm;
}

.pt-xs, .py-xs {
  padding-top: $rem-xs;
}

/*=================================
Padding Bottom
===================================*/
.pb-xl, .py-xl {
  padding-bottom: $rem-xl;
}

.pb-lg, .py-lg {
  padding-bottom: $rem-lg;
}

.pb-md, .py-md {
  padding-bottom: $rem-md;
}

.pb-sm, .py-sm {
  padding-bottom: $rem-sm;
}

.pb-xs, .py-xs {
  padding-bottom: $rem-xs;
}

/*=================================
Padding Left
===================================*/
.pl-xl, .px-xl {
  padding-left: $rem-xl;
}

.pl-lg, .px-lg {
  padding-left: $rem-lg;
}

.pl-md, .px-md {
  padding-left: $rem-md;
}

.pl-sm, .px-sm {
  padding-left: $rem-sm;
}

.pl-xs, .px-xs {
  padding-left: $rem-xs;
}

/*=================================
Padding Right
===================================*/
.pr-xl, .px-xl {
  padding-right: $rem-xl;
}

.pr-lg, .px-lg {
  padding-right: $rem-lg;
}

.pr-md, .px-md {
  padding-right: $rem-md;
}

.pr-sm, .px-sm {
  padding-right: $rem-sm;
}

.pr-xs, .px-xs {
  padding-right: $rem-xs;
}

/*=================================
Margin Top
===================================*/
.mt-xl, .my-xl {
  margin-top: $rem-xl;
}

.mt-lg, .my-lg {
  margin-top: $rem-lg;
}

.mt-md, .my-md {
  margin-top: $rem-md;
}

.mt-sm, .my-sm {
  margin-top: $rem-sm;
}

.mt-xs, .my-xs {
  margin-top: $rem-xs;
}

.mt-neg-100 { 
  margin-top: -100px;
}

.mt-neg-75 { 
  margin-top: -75px;
}

.mt-neg-50 { 
  margin-top: -50px;
}

.mt-neg-25 { 
  margin-top: -25px;
}

/*=================================
Margin Bottom
===================================*/
.mb-xl, .my-xl {
  margin-bottom: $rem-xl;
}

.mb-lg, .my-lg {
  margin-bottom: $rem-lg;
}

.mb-md, .my-md {
  margin-bottom: $rem-md;
}

.mb-sm, .my-sm {
  margin-bottom: $rem-sm;
}

.mb-xs, .my-xs {
  margin-bottom: $rem-xs;
}

/*=================================
Margin Left
===================================*/
.ml-xl, .my-xl {
  margin-left: $rem-xl;
}

.ml-lg, .my-lg {
  margin-left: $rem-lg;
}

.ml-md, .my-md {
  margin-left: $rem-md;
}

.ml-sm, .my-sm {
  margin-left: $rem-sm;
}

.ml-xs, .my-xs {
  margin-left: $rem-xs;
}

/*=================================
Margin Right
===================================*/
.mr-xl, .my-xl {
  margin-right: $rem-xl;
}

.mr-lg, .my-lg {
  margin-right: $rem-lg;
}

.mr-md, .my-md {
  margin-right: $rem-md;
}

.mr-sm, .my-sm {
  margin-right: $rem-sm;
}

.mr-xs, .my-xs {
  margin-right: $rem-xs;
}
