/*=================================
Google Font Import
===================================*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Playfair+Display:400,400i,700,700i,900,900i|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');

/*=================================
Typography
===================================*/
body {
  font-family: $body;
  color: $black;
  font-size: 14px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

hr {
  width: 100px;
  border-top: 2px solid $primary;
  margin-top: $rem-sm;
  margin-bottom: $rem-sm;
  margin-left: 0;
}

.text-center {
  hr {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: $breakpoint-xs) {
  .text-xs-center {
    hr {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .text-xs-left {
    hr {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .text-sm-center {
    hr {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .text-sm-left {
    hr {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .text-md-center {
    hr {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .text-md-left {
    hr {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .text-lg-center {
    hr {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .text-lg-left {
    hr {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: $breakpoint-xl) {
  .text-xl-center {
    hr {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .text-xl-left {
    hr {
      margin-left: 0;
      margin-right: auto;
    }
  }
}


p {
  font-family: $body;
  color: $black;
  font-size: 14px;
  line-height: 1.3;
}

a {
  color: $primary;
  transition: .3s ease-in-out;

  &:hover {
    text-decoration: none;
    color: rgba($primary,.8);
  }

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5 ,.h6 {
  font-weight: 400;
  font-family: $display;
}

h1, .h1 {
  color: $secondary;
  font-size: 44px;
}

h2, .h2 {
  color: $secondary;
}

h3, .h3 {
  color: $secondary;
}

h4, .h4 {
 color: $primary
}

h5, .h5 {
  color: $dk-gray;
}

h6, .h6 {
  font-family: $body;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  color: $md-gray;
}

h1, h2, h3, .h1, .h2, .h3 {
  em {
    color: $primary;
    font-weight: 400;
  }
}


.display-1, .display-2, .display-3, .display-4 {
  font-family: $display;
  font-weight: 700;
  color: $secondary;
}

@media screen and (max-width: $breakpoint-lg) {

  .display-1 {
    font-size: 3rem;
  }

  .display-2 {
    font-size: 2.5rem;
  }

  .display-3 {
    font-size: 2rem;
  }

  .display-4 {
    font-size: 1.8rem;
  }

}

.fc-primary {
  color: $primary !important;
}

.fc-secondary {
  color: $secondary !important;
}

.fc-black {
  color: $black !important;
}

.fc-dk-gray {
  color: $dk-gray !important;
}

.fc-md-gray {
  color: $md-gray !important;
}

.fc-lt-gray {
  color: $lt-gray !important;
}

.fc-white {
  color: $white !important;
}

.ff-display {
  font-family: $display;
}

.ff-body {
  font-family: $body;
}

.ff-mono {
  font-family: $mono;
}

.ff-condensed {
  font-family: $condensed;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.section-title {
  h1, h2, h3 {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-color: $primary;
      height: 2px;
      width: 100px;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.icon-link {
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  transition: .3s ease-in-out;
  &:after {
    position: absolute;
    right: -25px;
    top: 2px;
    font-size: 13px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
}

.icon-arrow-link:after {
  content: "\f061";
}