// Colors
$primary: #f29924;
$secondary: #506671;
$black: #2d2d2d;
$dk-gray: #444444;
$md-gray: #888888;
$lt-gray: #f1f1f1;
$white: #fff;


// Fonts
$display: 'Playfair Display', serif;
$body: 'ATC Arquette', 'Montserrat', sans-serif;
$condensed: 'Knockout', 'Oswald', sans-serif;
$mono: 'Roboto Mono', monospace;

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


// REM Bases
$rem-xs: 1rem;
$rem-sm: 2rem;
$rem-md: 4rem;
$rem-lg: 6rem;
$rem-xl: 8rem;
